main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(licoes-importantes-escola.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
    gap: 7px;
    color: rgb(0, 0, 0);
}

table{
    border: 3px solid black;
    padding: 8px;

}
td,th{
    border: 1px solid rgb(0, 0, 0);
    padding: 3px;
}
section{
    background-color: rgb(214, 189, 156);
}
button{
    background-color: rgba(52, 247, 52, 0.664);
    padding: 7px 20px;
}
